name: ci-cd

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Build Frontend
        run: |
          npm ci
          npm run build

      
      - name: Upload Release
        env:
          RELEASE: release-${{ github.run_id }}
        run: |
          rsync -az --delete \
            -e "ssh -i <(echo '${{ secrets.WEB_SSH_KEY }}') -o StrictHostKeyChecking=no" \
            dist/ ec2-user@${{ secrets.WEB_HOST }}:/var/www/frontend/releases/$RELEASE/

      
      - name: Switch Symlink
        env:
          RELEASE: release-${{ github.run_id }}
        run: |
          ssh -i <(echo '${{ secrets.WEB_SSH_KEY }}') \
            -o StrictHostKeyChecking=no \
            ec2-user@${{ secrets.WEB_HOST }} << EOF
              ln -sfn /var/www/frontend/releases/$RELEASE /var/www/frontend/current

